#Your osu username (Replace space with underscores)
OSU_USERNAME="AuracleTech"

#The location of the osu-tools PerformanceCalculator.dll (see https://github.com/ppy/osu-tools)
OSU_TOOLS_LOCATION="./osu-tools-master/PerformanceCalculator/bin/Release/netcoreapp3.1/win10-x64/PerformanceCalculator.dll"

#osu API key (see https://osu.ppy.sh/p/api/) used for node-osu (Github brussell98/node-osu)
OSU_API_KEY="4rhf7106i5cv3376142n96142f63eqyw018ub863 Example"

#IRC API key (see https://osu.ppy.sh/p/irc) used for bancho (Github ThePooN/bancho.js)
OSU_IRC_KEY="213of94o Example"

#Discord bot token (see https://discord.com/developers/applications/)
DISCORD_TOKEN="GBV6YRD4CAKlHr6KsFhASv2.RR7wVF.Kp5QFg1ZX2CbH241Tc_ywy-uHGr Example"